/* LevelSelector.css */

.level-selector {
    display: flex;
    justify-content: center;
    /*margin-top: 20px;*/
    gap: 20px;
  }
  
  .level {
    background-color: #E1FFEE;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
  }
  
  .completed {
    background-color: #7fd29c; /* Green color for completed levels */
    color: #fff;
  }
  
  .level:hover {
    background-color: #ddd;
  }
  