.syllable {
    font-size: 3rem;
    font-family: monospace;
}

.syllable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #747bff;
    box-shadow: 8px 8px #AAAAAA;
    border: solid 1px black;
    border-radius: 10px;
    height: 40px;
}

.syllable-slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background-color: #DDD;
    border-radius: 10px;
    height: 1em;
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: #f86b96;
}