.page {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 15rem;
}

.speaker-icon {
    font-size: xxx-large;
}