.page {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    justify-items: stretch;

    /*align-items: center;*/
    /*gap: 50px;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 15rem;
    padding: 40px;
    background-color: #FFEEAF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); /* Add box shadow */
    border-radius: 15px;
}

.speaker-icon {
    font-size: 70px;
    padding: 0 20px 0 20px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); /* Add box shadow */
    background-color: #FFEEAF;
}