.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A5F1E9;
    color: #333;
    font-family: Arial, sans-serif; /* Add a font family */
    padding: 20px; /* Add some padding */
    min-height: 100vh; /* Make the home page fill the viewport height */
    justify-content: center; /* Center the content vertically */
}

header {
    background-color: #7FBCD2;
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Add border radius */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); /* Add box shadow */
    margin-bottom: 20px; /* Add some margin below the header */
}

header h1 {
    color: #E1FFEE;
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 2px; /* Increase letter spacing */
    font-size: 2em; /* Increase the font size */
}

main {
    width: 65%;
    margin: 20px auto;
    background-color: #FFEEAF;
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Add border radius */
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1); !* Add box shadow *!*/
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); /* Add box shadow */

}