.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c4c4c;
    color: #333;
    font-family: Arial, sans-serif; /* Add a font family */
    padding: 20px; /* Add some padding */
    min-height: 100vh; /* Make the home page fill the viewport height */
    justify-content: center; /* Center the content vertically */
}

header {
    background-color: #063a4d;
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Add border radius */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px; /* Add some margin below the header */
}

header h1 {
    color: #fff;
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 2px; /* Increase letter spacing */
    font-size: 2em; /* Increase the font size */
}

main {
    width: 65%;
    margin: 20px auto;
    background-color: #242424; /* Add a background color */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Add box shadow */
}